body {
  font-family: Helvetica, Arial, Sans-serif;
  margin: 0 0 0 0;
  background-color: #fff;
}

main {
  margin: auto;
  padding: 0px 0px 0px 0px;
  display:flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > ul > li {
  padding: 0 10px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin: 0 0 0 140px;
  padding: 0 30px 0 0;
  border: none;
  height: 100%;
}

#search-wrapper {
  height: 80%;
  margin: 0;
  padding: 0;
}
  
#search {
  align-self: center;
  align: center;
  width: 800px;
  height: 100%;
  box-shadow: none;
  margin: 0;
  border: none;
}

li {
  list-style: none;
}

a {
  color: #049;
  text-decoration: none;
}

a:hover {
  color: #036;
  text-decoration: underline;
}


#content {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  color: #fff;
}

section {
  margin: 50px 0px 50px 0px;
}

footer {
  margin: 0 0 0 0;
  background-color: #111;
  padding: 0 10px 0 0;
  font-size: 0.75em;
  color: #666;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 0 0 12px;
}

#content {
 background: url(https://payload.cargocollective.com/1/0/29509/4157183/Background_Clean.png) no-repeat fixed center;
}

#mailing-list{
  font-size: 14px;
}
