/* GENERAL STYLE */
/* banana #F9F9E7 */
/* sage-olive #597A62 */
/* dark-green #13281E */

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  padding-top: 70px;
  padding-left: 55px;
}

/* TEXT STYLES */

h1 {
  font-size: 14px;
  color: #555;
  padding: 2px 3px 3px 3px;
  text-decoration: none;
  line-height: 185%;
}

p {
  font-size: 12px;
  color: #333;
  padding: 2px 3px 3px 3px;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #F5FFBC;
}

a:hover {
    background: #13281E;
    color: #fff;
}


/* SELECTION */

::selection {
  color: #fff;
  background: #001109;
}

::-moz-selection{
  color:#fff;
  background:#001109;
}

a::-moz-selection{
  color:#F5FFBC;
}

a::selection {
  color:#F5FFBC;
}

a:hover::selection {
  text-shadow: none;
  color:#FFD35E;
}

a:hover::-moz-selection{
  text-shadow: none;
  color:#FFD35E;
}

